@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uchen&family=Varela+Round&display=swap');
body{
    background-color: rgb(72 182 140);
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'uchen',serif;
}
nav ul li{
    padding: 0 12px;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type : none;
    background-color: rgb(15, 16, 15);
    color: aliceblue;
    height: 39px;
}
.brand img{
    width: 34px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
}
.container{
    min-height: 60vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    /* font-size: large; */
    display: flex;
    width: 70%;
    margin: 15px auto;
    border-radius: 12px;
    background-image: url("guitar.jpg");
}
.songItemContainer{
    margin: 0 12px;
}
.bottom{
    position: sticky;
    background-color: black;
    min-height: 65px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.icon{
    margin-top: 10px;
    margin-bottom: 10px;
}
.icon i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 80%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}
.songItem img{
    width: 43px;
    margin: 0 23px;
}
.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songInfo
{
    position: absolute;
    left: 10%;
    font-family: 'Varela Round', sans-serif;
}
.songInfo img{
    opacity: 0;
    transform: opacity 0.8s ease-in;

}